@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(4, 1, 66) 0%,
    rgb(23, 23, 143) 35%,
    rgb(9, 97, 211) 100%
  );
  color: white;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.texto {
  padding: 2px;
  width: 25%;
  float: left;
  background-color: azure;
}
.imagen {
  padding: 2px;
  width: 220px;
  text-align: center;
  padding: 2px;
  float: left;
  background-color: blue;
}

.capa5 {
  width: 50%;
  background-color: brown;
  float: left;
}

.card {
  background-color: #f9fdfd;
}

.especial {
  background-color: aqua;
}
